body {
    font-family: "Roboto";
    font-size: 13px;
}

.list-inline {
    margin: 0;
    padding: 0;
}

.list-inline li {
    border-bottom: solid 1px #eee;
    display: inline-block;
    margin-bottom: 8px;
    padding-bottom: 8px;
}

.list-inline label {
    display: inline-block;
    min-width: 50px;
}

.component-weight {
    width: 50px;
}

.container {
    display: flex;
}

.col-1 {
    flex: 1;
}

.col-2 {
    flex: 2;
}
